body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://img.freepik.com/free-photo/black-hole-with-ring-light-large-spiral-center_1340-40103.jpg?t=st=1724716101~exp=1724719701~hmac=99a2daa11efb0cba57f552300fad7f3e8f612d9da067075816304f4d0ee8b02c&w=1380');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: black;
}

p {
    font-size: 18px;
    margin-bottom: 40px;
    max-width: 600px;
    color: black;
}

.cta-button {
    padding: 15px 30px;
    background-color: #812B8C;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #2A2359;
}
.container { 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.74);
    width: 30%;
    text-align: center;
}