body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}

.login-container {
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.514);
    backdrop-filter: blur(10px);
}

.login-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: black;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 17px;
    color: black;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    background-color: #2c2c2c;
    color: #fff;
}

.login-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #0056b3;
}
